@import url('https://fonts.googleapis.com/css2?family=Abel&family=Fira+Sans:wght@500&family=Lora:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Fira+Sans:wght@500&family=Lora:wght@500;600&family=Sometype+Mono:wght@400;500&display=swap');

:root {

    --heading-font: 'Sometype Mono', monospace;
    --paragraph-font: 'Lora', serif;

}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}

p {
    font-family: var(--paragraph-font);
    padding: 1em;
}

body {
   margin: 0 auto;
}

.content {
    color: black;
    background-color: #9FD8CB;
    max-width: 1600px;
    margin: 0 auto;
}


/* HEADER CSS */

header {
    background-color: #2D3319;
    color: #D6E5E3;
    height: 150px;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.logo-link {
    grid-column: 1/2;
    place-self: center;
    
}

.logo {
    width: 120px;
    border-radius: 50%;
}

.logo:hover {
    opacity: .6;
    transform: scale(1.1);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    color: #D6E5E3;
    text-decoration: none;
    text-align: center;
    padding: 25px;
    font-size: 1.5em;
}

nav a:hover {
    background-color: #9FD8CB;
    color: #2D3319;
}


/* HOME PAGE CSS */

.home-page-main {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.beetle-picture {
    width: 30%;
    margin: 30px;
    float: left;
    border-radius: 15%;
    border: solid #2D3319 15px;
}

.welcome-text {
    grid-row: 1/2;
    text-align: justify;
    padding-top: 30px;
}

.welcome-text h2 {
    font-size: 2em;
}

.updates {
    grid-row: 2/3;
}

.updates-text {
    grid-row: 2/3;
    text-align: right;
    padding-top: 30px;
}

.updates-text h2 {
    font-size: 2em;
}

.bookshelf-picture {
    float: right;
    grid-row: 2/3;
    width: 30%;
    margin: 30px;
    border-radius: 15%;
    border: solid #2D3319 15px;
}

/* FOOTER CSS */

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2D3319;
    color: #D6E5E3;
    height: 150px
}


footer a {
    text-decoration: none;
    color: #D6E5E3;
}

footer a:hover {
    background-color: #9FD8CB;
    color: #2D3319;
}

.socials img {
    width: 50px;
}

/* POETRY PAGE CSS */

.poems {
    display: grid;
    grid-template-columns: 50% 50%;

}

.viathome-image {
    padding: 35px;
    grid-column: 2/3;
    justify-self: center;
}

.viathome-image img {
    height: 50%;
    float: right;
    border: solid #2D3319 5px;
}

.viathome-image p {
    padding-top: 20px;
}

.poem-text {
    grid-row-start: 1;
}

.glass-poem {
    margin-left: 25px;
    grid-column: 1/2;
}

.god-and-child-poem {
    margin: 25px;
    grid-column: 1/2;
}

.quotes {
    justify-content: space-around;
}

.child-image {
    grid-column: 1/2;
    justify-items: center;
}

.child-image img {
    width: 70%;
    margin: 25px;
    border: solid #2D3319 5px;
}

.glass-image {
    grid-column: 2/3;
    justify-content: center;
    align-items: center;
}

.glass-image img {
    width: 70%;
    margin: 25px;
    border: solid #2D3319 5px;
}

.more {
    width: 70%;
    max-height: 200px;
    margin: 25px;
    background-color: #D6E5E3;
    border: solid #2D3319 5px;
    text-align: center;
    grid-column: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accordion {
    grid-column: 1/3;
    background-color: #517664;
    color: #2D3319;
    height: 200px;
    font-size: 3em;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #517664;
}

.active {
    height: 70px;
    font-size: 1em;
}

.panel {
    padding: 0 18px;
    display: none;
    overflow: hidden;
}

.hidden-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/* BIO PAGE CSS */